# Dependencies
node_modules/
eplacer-backend/node_modules/
eplacer-frontend/node_modules/

# Build output
dist/
build/

# Environment files
.env
eplacer-backend/.env
eplacer-frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
eplacer-backend/uploads/
